@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

ul,li{
    list-style: none;
}

body{
    background-color: rgb(41, 39, 39);
}

.slick{
    width: 100%;
    height: 90vh;
}
.slick div{}
.slick div img{
    filter: brightness(50%);
    width: 100%;
    height: 90vh;
}

.slick-arrow{
    position: absolute;
    width: 0;
    border: none;
    font-size: 0;
}

/* 네비게이션바 */
.nav{
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 20 ;
    /* top: 0; */
    /* left: 0; */
    background: rgb(0, 0, 0,0.8);
}

.nav a{
    color: rgba(170, 170, 170, 0.8);
    font-size: 22px;
    font-weight: bold;
}

/* 네비게이션 참치 */
.nav .left{
    float: left;
    margin-left: 450px;
}
.nav .left img{
    width: 100px;
    transition: 1s;
}

.nav .left img:hover{
    transform: scale(10);
    transform-origin:center top ;
    /* animation: spin 1s linear; */
}

.nav .left li{
}
.nav .left li a{}

.nav .right{
    float: right;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav .right li{
    float: left;
    margin-left: 50px;
    padding-top: 20px;

}


.nav .right li a{
    transition: 0.3s;
}
.nav .right li a:hover{
    color: white;
}

.footwrap{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    color: darkgrey;
}
.footwrap .foot{
    text-align: center;
}
.footwrap .foot ul{
    display: inline-block;
}

.footwrap .foot ul li{
    float: left;
    display: inline-block;
    margin-left: 5px;
}

.footwrap .foot ul li::before{
    content: "";
    width: 1px;
    height: 14px;
    background: darkgrey;
    display: inline-block;
    margin-right: 5px;
}

.footwrap .foot ul li:first-child:before{
    content: "";
    width: 0;
}


.footwrap .foot div:first-child{}
.footwrap .foot div:last-child{}



/* 푸터 */
.footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;

}
.footer ul{
}
.footer ul li{
    color: rgb(98, 98, 98);
}

.fh{
    color: rgb(165, 165, 165) !important;
    font-weight: bold;
    font-size: 20px;
}
/* 센터텍스트 */
.text{
    color: white;
    font-size: 90px;
    font-weight: 1000;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    font-family: 'Nanum Brush Script';
    transition: 0.3s;
}

.text:hover{
    color:rgb(249, 172, 79) ;
}


.text2{
    color: rgb(249, 172, 79);
}


/* 마우스 */
.curser{ 
    position: absolute;
    width: 200px;
    pointer-events: none;
}

@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(359deg);}
}

