<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객 예약 목록</title>
</head>
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>예약자</th>
                <th>전화번호</th>
                <th>예약날짜</th>
                <th>예약시간</th>
                <th>인원수</th>
                <th>요청사항</th>
                <th>관리</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="orderlist : ${orderList}">
                <td th:text="${orderlist.name}"></td>
                <td th:text="${orderlist.mobile}"></td>
                <td th:text="${orderlist.reservationDate}"></td>
                <td th:text="${orderlist.reservationTime}"></td>
                <td th:text="${orderlist.reservationTraffic}"></td>
                <td th:text="${orderlist.reservationComment}"></td>
                <td>
                	<form id="form" th:action="@{|/admin/dropReservation/${orderlist.Id}|}" method="get">
                        <input type="submit" class="btn btn-primary" value="삭제">
                	</form>
                </td>
            </tr>
             <button type="button" class="btn btn-primary" th:onclick = "location.href = '/admin'">관리자 메뉴</button>
        </tbody>
    </table>
</div>
</html>