<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>삿뽀로 참치</title>
  <link rel="stylesheet" href="./menu2.css">
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->

<div class="scene">
    <article class="book">
        <section class="page active">
            <div class="front">
                <div class="menuPan1">

                    <!-- <h1>클릭 하세요</h1> -->
                    <div id="carbon-block"></div>
                    <div><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- jQuery_336 -->
                        <ins class="adsbygoogle"
                        style="display:inline-block;width:336px;height:280px"
                        data-ad-client="ca-pub-2783044520727903"
                        data-ad-slot="5649687997"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script></div>
      <p>
          
    </p>
</div>
    </div>
    <div class="back">
        <div class="menuPan2">

        </div>
      <!-- <h1>– 1 –</h1>
      <p>
        서면역 1번출구
      </p> -->
    </div>
  </section>
  <section class="page">
    <div class="front">
      <!-- <h1>– 2 –</h1> -->
     <div class="menuPan3">
        
     </div>
    </div>
    <div class="back">
      <!-- <h1>– 3 –</h1>
      <p>
       김치찌개 된장찌개 메로나 고양이
      </p> -->
      <div class="menuPan4">
        
    </div>
    </div>
  </section>
    <section class="page">
    <div class="front">
      <!-- <h1>– 4 –</h1>
      <p>
        
      </p> -->
      <div class="menuPan5">
        
    </div>
    </div>
    <div class="back">
      <!-- <h1>– 5 –</h1>
      <p>
        페퍼로니피자 키보드 마우스 휴지 
      </p> -->
      <div class="menuPan6">
        
    </div>
    </div>
  </section>
    <section class="page">
    <div class="front">
      <!-- <h1>– 6 –</h1>
      <p>
      
      </p> -->
      <div class="menuPan7">
        
    </div>
    </div>
    <div class="back">
      <!-- <h1>– 7 –</h1>
      <p>
       안녕하세요 잘 부탁드립니다람쥐
      </p> -->
      <div class="menuPan8">
        
    </div>
    </div>
  </section>
    <!-- <section class="page">
    <div class="front">
      <h1>– 8 –</h1>
      <p>
       
      </p>
    </div>
    <div class="back">
      <h1>– 9 –</h1>
      <p>
        감사합니다 조심히 들어가세요
      </p>
      <p>
        서브웨이
      </p>
    </div>
  </section> -->

</article>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/jquery-hammerjs@2.0.0/jquery.hammer.min.js'></script><script  src="./script.js"></script>
<script>
try {
  fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function(response) {
    return true;
  }).catch(function(e) {
    var carbonScript = document.createElement("script");
    carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
    carbonScript.id = "_carbonads_js";
    document.getElementById("carbon-block").appendChild(carbonScript);
  });
} catch (error) {
  console.log(error);
}
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>