<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약조회</title>
</head>
<div layout:fragment="content" class="container my-3">
<button class="btn btn-primary" type="button" onclick = "location.href = '/'">홈</button>
<button class="btn btn-primary" type="button" onclick = "location.href = '/reservation'">온라인 예약</button>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>예약자</th>
                <th>전화번호</th>
                <th>예약날짜</th>
                <th>예약시간</th>
                <th>인원수</th>
                <th>요청사항</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="orderlist : ${orderList}">
                <td th:text="${orderlist.name}"></td>
                <td th:text="${orderlist.mobile}"></td>
                <td th:text="${orderlist.reservationDate}"></td>
                <td th:text="${orderlist.reservationTime}"></td>
                <td th:text="${orderlist.reservationTraffic}"></td>
                <td th:text="${orderlist.reservationComment}"></td>
            </tr>
        </tbody>
    </table>
</div>
</html>